.person {
  margin-bottom: 20px;
  width: 90%;
  height: 160px;
  border: 1px solid #000;
  padding: 8px;
  display: flex;
  justify-content: flex-start;
  &__maternity {
    background-color: rgb(254, 255, 240);
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
  &__name {
    font-size: 14px;
    font-weight: 700;
    text-align: left;
  }
  &__info {
    font-size: 10px;
  }
  &__box {
    width: 100px;
    padding: 4px;
    object-fit: contain;

  }
  &__photo {
    width: 80px;
  }
}
